$primary: #042F44;
$darkprimary: #011924;
$lightprimary: #176081;

@mixin mybtn {
    color: #000;
    @include myfont(Louis, 18px);
    padding: 5px;
    border-bottom: 2px solid rgba(0, 31, 46, 0);
    border-radius: 0;

    &:hover {
        color: $primary;
        border-bottom: 2px solid rgba(0, 31, 46, 1);
    }
}

@font-face {
    font-family: Louis;
    src: url(../LouisGeorgeCafe.ttf);
    font-weight: 400;
}

@font-face {
    font-family: LouisB;
    src: url(../LouisGeorgeCafeBold.ttf);
    font-weight: bolder;
}

@mixin myfont($fs, $x) {
    font-family: $fs;
    font-size: $x;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu {
    background-color: #fff;
    height: 100px;
    box-shadow: 3px 0px 10px rgba(55, 55, 55, .13);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 15px 25px;

            a {
                @include myfont(Louis, 20px);
                color: $primary;
                text-decoration: none;
            }
        }
    }
}



header {
    height: 85vh;
    background-color: #fff;

    h1 {
        @include myfont(LouisB, 52px);
        color: #1d1d1d;
    }

    h4 {
        @include myfont(Louis, 24px);
    }

    button {
        @include myfont(Louis, 18px);
        height: 56px;
        width: 180px;
        background-color: $primary;
        color: white;
        box-shadow: none;
        border: none;

        &:hover {
            background-color: $lightprimary;
        }

        &:active {
            background-color: $darkprimary;
        }
    }

    img {
        height: 650px;
    }
}

.discover {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    height: 700px;
    background-color: #FCFCFC;

    h2 {
        @include myfont(LouisB, 33px);
    }

    .card {
        width: 18rem;

        .card-body {
            position: absolute;
            bottom: 0;
            left: 10px;

            h3 {
                @include myfont(LouisB, 24px);
            }

            h6 {
                @include myfont(Louis, 16px);
            }
        }
    }

    button {
        @include mybtn();
    }

}


.featured {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;

    h2 {
        @include myfont(LouisB, 33px);
    }

    .card-body {
        padding: 10px 0;
        width: 250px !important;

        h3 {
            @include myfont(Louis, 26px);
        }

        h6 {
            @include myfont(Louis, 18px);
        }

    }

    .btn {
        @include mybtn();
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    // transition: all 1s ease-out;
}

.parallax {
    height: 800px;
    background-image: url(../images/cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 800px;
    color: white;

    h2 {
        @include myfont(LouisB, 62px);
        text-transform: capitalize;
    }

    p {
        @include myfont(Louis, 36px);
    }
}


.brands {
    height: 400px;

    .underarmour {
        animation: imageOne infinite 17s linear;
    }

    .adidas {
        animation: imageTwo infinite 17s linear;
    }

    .anta {
        animation: imageThree infinite 17s linear;
    }

    .basics {
        animation: imageFour infinite 17s linear;
    }

    .cotopaxi {
        animation: imageFive infinite 17s linear;
    }

    .houdini {
        animation: imageSix infinite 17s linear;
    }

    .danner {
        animation: imageSeven infinite 17s linear;
    }

    .mammut {
        animation: imageEight infinite 17s linear;
    }


    img {
        margin: 30px;
        padding: 10px;
        width: fit-content;
        height: fit-content;
    }
}

.footer {
    color: white;
    height: 400px;
    background-color: #001F2E;

    a {
        text-decoration: none;
        color: #f6f6f6;

        h3 {
            @include myfont(LouisB, 24px);
            margin-bottom: 10px
        }

        h6 {
            @include myfont(Louis, 16px);
            margin-bottom: 12px;
        }
    }

}

.copyright {
    background-color: $primary;
    color: white;

    ul {
        li {
            list-style-type: none;
        }
    }

    h4 {
        @include myfont(LouisB, 18px);
        margin: 0;
    }
}


@keyframes imageOne {
    0% {
        opacity: 1;
    }

    10% {
        transform: translateX(-12vw);
        opacity: 1;
    }

    11% {
        transform: translateX(-12vw);
        opacity: 0;
    }

    12% {
        transform: translateX(97vw);
        opacity: 0;
    }

    13% {
        transform: translateX(97vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageTwo {
    0% {
        opacity: 1;
    }

    20% {
        transform: translateX(-21vw);
        opacity: 1;
    }

    21% {
        transform: translateX(-21vw);
        opacity: 0;
    }

    22% {
        transform: translateX(87vw);
        opacity: 0;
    }

    23% {
        transform: translateX(87vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageThree {
    0% {
        opacity: 1;
    }

    30% {
        transform: translateX(-32vw);
        opacity: 1;
    }

    31% {
        transform: translateX(-32vw);
        opacity: 0;
    }

    32% {
        transform: translateX(80vw);
        opacity: 0;
    }

    33% {
        transform: translateX(80vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageFour {
    0% {
        opacity: 1;
    }

    40% {
        transform: translateX(-45vw);
        opacity: 1;
    }

    41% {
        transform: translateX(-45vw);
        opacity: 0;
    }

    42% {
        transform: translateX(70vw);
        opacity: 0;
    }

    43% {
        transform: translateX(70vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageFive {
    0% {
        opacity: 1;
    }

    53% {
        transform: translateX(-62vw);
        opacity: 1;
    }

    54% {
        transform: translateX(-62vw);
        opacity: 0;
    }

    55% {
        transform: translateX(57vw);
        opacity: 0;
    }

    56% {
        transform: translateX(57vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageSix {
    0% {
        opacity: 1;
    }

    70% {
        transform: translateX(-85vw);
        opacity: 1;
    }

    71% {
        transform: translateX(-85vw);
        opacity: 0;
    }

    72% {
        transform: translateX(45vw);
        opacity: 0;
    }

    73% {
        transform: translateX(45vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageSeven {
    0% {
        opacity: 1;
    }

    80% {
        transform: translateX(-96vw);
        opacity: 1;
    }

    81% {
        transform: translateX(-96vw);
        opacity: 0;
    }

    82% {
        transform: translateX(35vw);
        opacity: 0;
    }

    83% {
        transform: translateX(35vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes imageEight {
    0% {
        opacity: 1;
    }

    94% {
        transform: translateX(-106vw);
        opacity: 1;
    }

    95% {
        transform: translateX(-106vw);
        opacity: 0;
    }

    96% {
        transform: translateX(25vw);
        opacity: 0;
    }

    97% {
        transform: translateX(25vw);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}