$primary:#042F44;
$darkprimary:#011924;
$lightprimary:#176081;
@mixin mybtn{
    color: #000;
    @include myfont(Louis,18px);
    padding: 5px;
    border-bottom: 2px solid rgba(0,31,46,0);
    border-radius: 0;
    &:hover{
        color: $primary;
        border-bottom: 2px solid rgba(0,31,46,1);
    }
}

@font-face{
    font-family:Louis;
    src: url(../LouisGeorgeCafe.ttf);
    font-weight: 400;
}
@font-face {
    font-family: LouisB;
    src: url(../LouisGeorgeCafeBold.ttf);
    font-weight:bolder;
}
@mixin myfont($fs,$x){
    font-family: $fs;
    font-size: $x;
}
body {
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu {
    background-color: #fff;
    height: 100px;
    box-shadow: 3px 0px 10px rgba(55,55,55,.13);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    ul{
        list-style-type: none;
        margin: 0;
        padding:0;
        li{
            padding: 15px 25px;
            a{
                @include myfont(Louis,20px);
                color: $primary;
                text-decoration: none;
            }
        }
    }
}



header{
    height: 85vh;
    background-color: #fff;
    h1{
        @include myfont(LouisB,52px);
        color: #1d1d1d;
    }
    h4{
        @include myfont(Louis,24px);
    }
    button{
        @include myfont(Louis,18px);
        height: 56px;
        width: 180px;
        background-color: $primary;
        color:white;
        box-shadow: none;
        border: none;
        &:hover {
            background-color: $lightprimary;
        }
        &:active{
            background-color: $darkprimary;
        }
    }
    img {
        height: 650px;
    }
}

.discover{
    height: 700px;
    background-color: #FCFCFC;
    h2{
        @include myfont(LouisB,33px);
    }
    .card{
        width: 18rem;
        .card-body{
            position:absolute;
            bottom: 0;
            left: 10px;
            h3{
                @include myfont(LouisB,24px);
            }
            h6{
                @include myfont(Louis,16px);
            }
        }
    }
    button{
        @include mybtn();
    }

}

.featured{
    // height: 700px;
    h2{
        @include myfont(LouisB,33px);
    }
    .card-body{
        padding:10px 0;
        width: 250px !important;
        h3{
            @include myfont(Louis,26px);
        }
        h6{
            @include myfont(Louis,18px);
        }
        
    }
    .btn{
        @include mybtn();
    }
}

.parallax{
    height: 800px;
    background-image: url(/images/cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 800px;
    color:white;
    h2{
        @include myfont(LouisB,62px);
        text-transform: capitalize;
    }
    p{
        @include myfont(Louis,36px);
    }
}


.brands{
    height: 400px;
    .ua{
        transform: translateX(-60px);
    }
    .cp{
        transform: translateX(-300px);
    }
    img{
        margin: 30px;
        padding: 10px;
        width: fit-content;
        height: fit-content;
    }
}

.footer{
    color:white;
    height: 400px;
    background-color: #001F2E;
    a{
        text-decoration: none;
        color: #f6f6f6;
        h3{
            @include myfont(LouisB,24px);
            margin-bottom: 10px
        }
        h6{
            @include myfont(Louis,16px);
            margin-bottom: 12px;
        }
    }

}

.copyright{
    background-color: $primary;
    color:white;
    ul{
        li{
            list-style-type: none;
        }
    }
    h4{
        @include myfont(LouisB,18px);
        margin: 0;
    }
}
